body {
    margin: 0;
    padding: 0;
    background-color: #f7f9fc;
    color: #333;
}

/* LOGO */
.logo {
    font-family: 'Annie Use Your Telescope', cursive;
    position: absolute;
    top: 25px;
    left: 100px;
    font-size: 40px;
    font-weight: bold;
}

/* NAVBAR */
.navbar {
    width: 100%;
    height: 90px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #ffffff;
    padding-right: 80px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.05);
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 40px;
}

.nav-links a {
    text-decoration: none;
    color: #333;
    font-family: 'Annie Use Your Telescope', cursive;
    font-size: 20px;
    font-weight: 600;
}

/* HERO IMAGES */
.pic_1 {
    width: 370px;
    height: 250px;
    position: absolute;
    top: 400px;
    left: 130px;
    z-index: 1;
}

.pic_2 {
    width: 430px;
    height: 280px;
    position: absolute;
    top: 180px;
    left: 250px;
    z-index: 2;
}

/* HERO TEXT */
.header_1 {
    position: absolute;
    top: 120px;
    left: 760px;
    font-family: 'Annie Use Your Telescope', cursive;
    font-size: 60px;
    font-weight: 800;
}

.p_1 {
    position: absolute;
    top: 270px;
    left: 760px;
    width: 670px;
    font-family: 'Annie Use Your Telescope', cursive;
    font-size: 18px;
}

/* CTA */
